.layout {
  width: 100%;
  height: 100dvh; /* Altura dinámica para móviles */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-bg);
}

.main {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  
  /* ESTA ES LA CLAVE: */
  /* Añadimos un espacio al final de TODO el contenido */
  padding-bottom: var(--bottom-nav-h); 
}